<% provide(:title, "about me") %>

<div id="about_me-container">
        <div id="about_me-info">
            <div>
                <h1>About Me</h1>
                stuff tvjkbjfövjböf jgdöfgjdöfgjdöfgjldö fdgjkdfögjö dflkgjdlgj lkdsjljwejwö sewjsdlfjs
                dfgsldfsödkfj djkfsdf jslldk klsdjflskfjselj  ql3kjasljflsh lkhdflvna lskadfj lkdj lsfkj slkdjsl kja a dklfjadflj
                jsjkgslö kjdl asdj aledjwkl  akeflkfj  sdlfkjsl   lkfjslfjew dlfkdjölgdlögj
                sdkfjsdöfjs ödfls dklf eröljewö wö ölsdföl öwöwsöldjöj4ölj 
                dlfjslkdfjlsdfj kjwöerjwö jlöklweörkwök3 rökwököwkfö ödjqhhialkfase4öqpvi udsöjfg 
                skldjflskdjf lsuwplfjasdökfjweritdergkt5izdogdh lsdfjsldfh
            </div>
        </div>
        <div id="about_me-pic">
            <%= image_tag("about_me_pic")%>
        </div>
</div>

<div id="cv-container">
    <section class="about-me-dropdown">
        <p><%= link_to "My CV", "#", id: "CV-link" %><b class="caret"></b></p>
        <div id="my-cv">
            my cv
        </div>
    
        <p><%= link_to "My projects ", "#", id: "project-link"%><b class="caret"></b></p>
        <div id="my-projects">
            my projects
            <% if logged_in? %>
                <p><%= link_to "Add a project", new_project_path %></p>
            <% end %>
            <div class="projects_list">
                <%= render "shared/projects_list" %>
            </div>
        </div>
    </section>
</div>