<% provide(:title, "contact") %>

<div class="contrainer-fluid" id="about-container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8" id="about-info">
            <div>
                <h1>Contact</h1>
                stuff tvjkbjfövjböf jgdöfgjdöfgjdöfgjldö fdgjkdfögjö dflkgjdlgj lkdsjljwejwö sewjsdlfjs
                dfgsldfsödkfj djkfsdf jslldk klsdjflskfjselj  ql3kjasljflsh lkhdflvna lskadfj lkdj lsfkj slkdjsl kja a dklfjadflj
                jsjkgslö kjdl asdj aledjwkl  akeflkfj  sdlfkjsl   lkfjslfjew dlfkdjölgdlögj
                sdkfjsdöfjs ödfls dklf eröljewö wö ölsdföl öwöwsöldjöj4ölj 
                dlfjslkdfjlsdfj kjwöerjwö jlöklweörkwök3 rökwököwkfö ödjqhhialkfase4öqpvi udsöjfg 
                skldjflskdjf lsuwplfjasdökfjweritdergkt5izdogdh lsdfjsldfh
            </div>
        <div class="col-md-2"></div>
    </div>
</div>