<div id="home-container">
        <div id="home-info">
            <div>
                <h1>Home info</h1>
                stuff tvjkbjfövjböf jgdöfgjdöfgjdöfgjldö fdgjkdfögjö dflkgjdlgj lkdsjljwejwö sewjsdlfjs
                dfgsldfsödkfj djkfsdf jslldk klsdjflskfjselj  ql3kjasljflsh lkhdflvna lskadfj lkdj lsfkj slkdjsl kja a dklfjadflj
                jsjkgslö kjdl asdj aledjwkl  akeflkfj  sdlfkjsl   lkfjslfjew dlfkdjölgdlögj
                sdkfjsdöfjs ödfls dklf eröljewö wö ölsdföl öwöwsöldjöj4ölj 
                dlfjslkdfjlsdfj kjwöerjwö jlöklweörkwök3 rökwököwkfö ödjqhhialkfase4öqpvi udsöjfg 
                skldjflskdjf lsuwplfjasdökfjweritdergkt5izdogdh lsdfjsldfh
            </div>
        </div>
        <div id="cv-pic">
            <%= image_tag("cv_pic")%>
        </div>
</div>
