<li id="project-<%= project.id %>">
    <span class="name"><%= project.name %></span>
    <span class="desc"><%= project.description %></span>
    <span class="link"><%= link_to "See me somewhere", "http://#{project.link}" %></span>
    <% if logged_in? %>
        <span class="options">
            <%= link_to "Remove", project, remote: true, method: :delete, data: { confirm: "Are you sure?" } %>
            <%= link_to "Edit", "#" %>
        </span>
    <% end %>
</li>