<% provide(:title, "Add a project") %>
<h1>Log in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@project) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
      
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control' %>

      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>