@import "bootstrap-sprockets";
@import "bootstrap";

* {box-sizing:border-box}
body {
    font-family: Verdana,sans-serif;
    color: #BFD4CA;
    background-color: #111A22;
}

/* helper to find styling troublemakers */

// div, span, p{
//     border: 1px solid red;
// }

/* header */

.mynavbar {
  text-align: center;
  .header {
    padding-right: 4%;
    padding-left: 4%;
    .nav {
      float: none;
      li {
        display:inline-block;
	      float:none;
      	margin:0 20px;
      	vertical-align:middle;
      }
    }
  }
}

/* Slideshow container */
.mySlides {display:none}

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  .mySlidesIn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  #slideshow-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: middle;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 350%;
    text-shadow: 3px 2px black;
  }
}

.active {
  background-color: #717171;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  small {
    float: left;
    padding-left: 3%;
  }
  ul {
    float: right;
    list-style: none;
    padding-right: 2%;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* Fading animation */

.fadeIn {
  -webkit-animation-name: fade-in;
  -webkit-animation-duration: 7s;
  animation-name: fade-in;
  animation-duration: 7s;
  
  @-webkit-keyframes fade-in {
    from {opacity: .01} 
    to {opacity: 1}
  }
  
  @keyframes fade-in {
    from {opacity: .01} 
    to {opacity: 1}
  }
}

/* Homepage */

#home-container {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  align-itmes: center;
  justify-content: center;
  #home-info {
    height: 460px;
    max-width: 35%;
    padding-right: 1%;
    display: flex;
    align-items: center;
  }
}

/* about me */

#about_me-container {
  padding-top: 5%;
  display: flex;
  align-itmes: center;
  justify-content: center;
  #about_me-info {
    height: 336px;
    max-width: 35%;
    padding-right: 1%;
    display: flex;
    align-items: center;
  }
}

#cv-container {
  background-color: #231C15;
  margin-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 0.5%;
}

#my-cv {
    display: none;
}

#my-projects {
    display: none;
}

/* about */

#about-container {
  padding-top: 5%;
  padding-bottom: 5%;
  .row {
    margin-right: 0%;
  }
  #about_me-info {
    display: flex;
    align-items: center;
  }
}