<footer class="footer">
    <small>
        Created by Robert G.
    </small>
    <nav>
        <ul>
            <li><%= link_to "About the Page", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <% if logged_in? %>
                <li><%= link_to "Logout", logout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Login", login_path %></li>
            <% end %>
        </ul>
    </nav>
</footer>