<header class="navbar navbar navbar-inverse mynavbar">
    <div class="header">
            <ul class="nav navbar-nav">
                <li><%= link_to "Homepage", root_path %></li>
                <li><%= link_to "About Me", about_me_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
            </ul>
    </div>
</header>