  <div class="slideshow-container">
    
    <div class="mySlidesIn fadeIn">
      <%= image_tag("img_nature_wide.jpg", :style => "width:100%") %>
    </div>
  
    <div class="mySlidesIn fadeIn">
      <%= image_tag("img_fjords_wide.jpg", :style => "width:100%") %>
    </div>
  
    <div class="mySlidesIn fadeIn">
      <%= image_tag("img_mountains_wide.jpg", :style => "width:100%") %>
    </div>
  
    
    <div class="mySlidesOut fadeOut">
      <%= image_tag("img_mountains_wide.jpg", :style => "width:100%") %>
    </div>
    
    <div class="mySlidesOut fadeOut">
      <%= image_tag("img_nature_wide.jpg", :style => "width:100%") %>
    </div>
    
    <div class="mySlidesOut fadeOut">
      <%= image_tag("img_fjords_wide.jpg", :style => "width:100%") %>
    </div>
    
    <div id="slideshow-overlay"> Robert Glowacki </div>
    
  </div>