<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= full_title(yield(:title)) %></title>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
  
</head>
<body>
  
  <%= render "layouts/slideshow_container" %>

  <%= render "layouts/header" %>
  <div id="main-body">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
  
  <script>
  var slideIndex = 0;
  showSlides();
  
  function showSlides() {
      var i;
      var slidesIn = document.getElementsByClassName("mySlidesIn");
      var slidesOut = document.getElementsByClassName("mySlidesOut");
      for (i = 0; i < slidesIn.length; i++) {
        slidesIn[i].style.display = "none";
        slidesOut[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex> slidesIn.length) {
        slideIndex = 1
      }    
      slidesIn[slideIndex-1].style.display = "block";
      slidesOut[slideIndex-1].style.display = "block";
      setTimeout(showSlides, 10000); // Change image every 10 seconds
  }
  </script>

</body>
</html>
